# OS X
.DS_Store
.DS_Store?
.Spotlight-V100
.Trashes
._*
Thumbs.db
ehthumbs.db

# VSCode
!.vscode/extensions.json
!.vscode/launch.json
!.vscode/settings.json
!.vscode/tasks.json
*.code-workspace
.vscode/*

# Stores VSCode versions used for testing VSCode extensions
.vscode-test
